/* Global declaration work start */
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
ul{
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
:root{
    --poppins: "Poppins";
    --raleway: "Raleway";
    --white: #ffffff;
    --orange: #DA722C;
    --darkblue :#023047;
    --lightblue:#6F7DFB;
}
.wrapper{
    overflow: hidden;
}
a{
    text-decoration: none;
}
    /* Global declaration work end */

    /* ================Header work start======================== */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999 !important;
}
.logo h2{
 color: var(--white);
 font-family: var(--raleway);
 font-weight: bold;
}
.nav-links a{
    color: var(--white);
    font-family: var(--poppins);
    font-size: 16px;
    text-transform: capitalize;
}
.donate-btn{
    background-color: var(--darkblue);
    padding: 10px 20px;
    border-radius: 15px;
}

    /* ================Header work end======================== */

    /* ================Banner work start======================== */
.banner{
    background: url(./Img/Rectangle\ 9.png) no-repeat center;
    background-size: cover;
    padding: 140px 0 0 0;
    position: relative;
    top: 0;
}
.donate-btn-2{
    font-family: var(--poppins);
    font-weight: 550;
    color: var(--white);
}
.text-banner{
    padding-top: 180px;
    padding-right: 50px;
}
.text-banner h3{
    font-family: var(--raleway);
    font-weight: bold;
    font-size: clamp(2rem, 6vw, 3rem);
}
.text-banner p{
    font-family: var(--poppins);
    font-weight: normal;
    font-size: 16px;
}

.rewards{
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50% ,-50%);
    gap: 100px;
}
.rewardbox{
    position: relative;
    background-color: var(--white);
    padding: 7px 40px;
    border-radius: 20px;
   
}
.rewardbox::after{
    z-index: -1;
    content: '';
    position: absolute;
    bottom: -8px;
    right: -8px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: url(./Img/Rectangle\ 11.png) no-repeat center;
    background-size: cover;
}
.rewardbox h5{
    text-align: center;
    font-family: var(--poppins);
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 3px;
    margin-bottom: 3px;
}
.rewardbox p{
    text-align: center;
    font-family: var(--poppins);
    font-weight: normal;
    font-size: 15px;

}
.rewardbox:nth-child(1){
    margin-left: 2rem;
}
.rewardbox:nth-child(2){
    margin-right: 2rem;
}
    /* ================Banner work end======================== */

    /* ================Testimonial work start======================== */
.testimonial{
    padding: 150px 0;
}
.feedback{
    background-color: var(--lightblue);
}
.feedbox{
    position: relative;
    height: 100%;
    width: 30px;
    isolation: isolate;
}
.feedbox::after{
    background: url(./Img/Rectangle12.png) no-repeat left;
    background-size: cover;
    height: 100%;
    position: absolute;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review{
 
}
.text-h2 h2{
    /* padding: 40px 30px; */
    height: 40px;
    border-radius: 10px;
    /* background-color: var(--lightblue); */
    color: var(--white);
    font-size: 16px;
    padding: 20px 10px;
}
.feedback{
    width: 100%;
}
.data{
    margin-top: 2rem;
    border-radius: 10px;
    -webkit-box-shadow: 11px 13px 5px -5px rgba(0,0,0,0.47);
    -moz-box-shadow: 11px 13px 5px -5px rgba(0,0,0,0.47);
box-shadow: 11px 13px 5px -5px rgba(0,0,0,0.47);
background-color: var(--white);
    width: 100%;
    height: auto;
}
.review{
    width: 80%;
    height: auto;
    /* height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 20px; */
    border-radius: 10px;
    background-color: var(--lightblue);
}
/* .review{
    position: absolute;
    background-color: var(--lightblue-);
    padding: 100px 20px;
}
.names{
    background-color: var(--orange);
} */




    /* ================Testimonial work end======================== */




    /* ================media quries work start======================== */

@media (max-width: 768px) {
    .nav-links{
        display: flex;
        align-items: center;
        justify-content: 
        center;
        flex-direction: column;
    }
}

    /* ================media quries work end======================== */